body{
    background-color: lightgoldenrodyellow;
    margin:0;
    padding:0;
}

.header{
    display: inline-flex;
    text-align: center;
    margin:0;
    background-color: goldenrod;
    box-shadow: 2px 2px 8px black;
    height: 80px;
    width: 100%;
    color:black;
    padding-top:15px;
    padding-left:25px;
    z-index: 99;
    
}

.banner{
    position:relative;
}

.text{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
}    
    


 .nav{

    background-color: goldenrod !important;
    box-shadow: 2px 2px 8px black;
    min-height: 80px;


}

.container{
    display: flex;
    flex-wrap: wrap;
   
}

.container > div{
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 200px;
}


.title{
    font-weight: bold;
}

.gridcontainer{
    display: flex;
    flex-wrap: wrap;
    float: right;
}

#table{
    width: 50%;
    border: 2px solid black;
}

#table tr{
    margin-right:5%;
    border: 2px solid black;

}




@media only screen and (max-width:600px){
    

    .container{
        margin-left: 70px;
    }

    nav h1 {
        display: none;
    }

    .col-6{
        padding-left: 7%;
    }

} 



@media only screen and (min-width:600px){
    .col-6{
        padding-left: 20%;
    }
}